<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true"></div>

    <a mat-button class="companyName" routerLink="/">
      <span>MyThryve</span>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="example-container" class="sidebar-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="side"
      opened="true"
      style="width: 300px"
    >
      <div fxLayout="column" class="sidebar-item-container">
        <app-menu-item name="Overview" route="/overview"></app-menu-item>
        <app-menu-item name="Analysis" route="/analysis"></app-menu-item>
        <app-menu-item name="Goals" route="/goals"></app-menu-item>

        <!-- <a mat-button routerLink="/income" >Einkommen</a>
        <a mat-button routerLink="/expense">Ausgaben</a>
        <a mat-button routerLink="/goals">Sparziele</a> -->
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
